@page
@model PRN222_SP25_B5_RAZOR.Pages.LoadDB.checkbox_as_radioModel
@{
}


<script>
	function add_events_checkbox_as_radio_departments(){
	console.log('adding events');
	let el_arr = document.getElementsByClassName('checkbox_as_radio_departments');
	for(let i = 0; i < el_arr.length; i++){
	let current_el = el_arr[i];
	console.log(current_el);
	current_el.addEventListener('click', function(evt){
	console.log(current_el);
	for(let j = 0; j < el_arr.length; j++){
	if(el_arr[j] !== current_el){
	// el_arr[i].removeAttribute('checked');
	el_arr[j].checked = false;
	console.log(el_arr[j]);
	}
	}
	});
	}
	}
	// document.addEventListener('load', function(){
	// 	add_events_checkbox_as_radio_departments();
	// });

	function uncheck_other_checkbox(el_id, other_checkbox_class){
	let el_arr = document.getElementsByClassName(other_checkbox_class);
	for(let i = 0; i < el_arr.length; i++){
		el_arr[i].checked = false;
	}

		document.getElementById(el_id).checked = true;

	}
</script>

<form method="post">
	ID: <input asp-for="@Model.std.Id" /><br />
	Name: <input asp-for="@Model.std.Name" /><br />
	Gender: <input asp-for="@Model.std.Gender" /><br />
	Department:
	@foreach (Department department in ViewBag.ds)
	{
		string tmp_id = $"cb_departments_{department.Id}";
		<input type="checkbox"
			   id="@tmp_id"
			   class="checkbox_as_radio_departments"
			   onclick="uncheck_other_checkbox('@tmp_id', 'checkbox_as_radio_departments')"
			   asp-for="@Model.std.DepartId"
			   value="@department.Id" />

		@department.Name

		<br />
	}
	<br />
	DOB: <input asp-for="@Model.std.Dob" type="date" /><br />
	GPA: <input asp-for="@Model.std.Gpa" /><br />
	<input type="submit" value="add" />

</form>

