@page
@model PRN222_SP25_B5_RAZOR.Pages.LoadDB.IndexModel
@{
}

<h1>welcome</h1>
<table>
	@foreach (PRN222_SP25_B5_RAZOR.Models.Student student in ViewBag.st)
	{
		<tr class="student_row">
			<td>@student.Id</td>
			<td>@student.Name</td>
			<td>
				@(student.Gender ? "Male" : "Female")
				<input type="checkbox" disabled checked=@(student.Gender) />
			</td>
			<td>
				<input type="radio" name=@($"gender_{student.Id}_radio") checked=@(student.Gender) /> Male <br />
				<input type="radio" name=@($"gender_{student.Id}_radio") checked=@(!student.Gender) /> Female <br />
			</td>
			<td>
				<select>
					<option value="true" selected=@(student.Gender)>Male</option>
					<option value="false" selected=@(!student.Gender)>Female</option>
				</select>
			</td>
			<td>@student.DepartId</td>
			<td>@student.Depart.Name</td>
			<td>
				<select>
					@foreach (PRN222_SP25_B5_RAZOR.Models.Department department in ViewBag.ds)
					{
						<option value="@department.Id" selected=@(student.DepartId == department.Id)>@department.Name</option>

					}
				</select>
			</td>

			<td>
				@foreach (PRN222_SP25_B5_RAZOR.Models.Department department in ViewBag.ds)
				{
					<input type="radio" name="@($"radio_depart_id{student.Id}")" value="@department.Id" checked=@(student.DepartId == department.Id) />

					@department.Name

					<br />

				}
			</td>
			<td>@student.Gpa</td>
		</tr>
	}
</table>