@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PRN222_SP25_B5_SL1.Models_DB.Student;
<h1>Edit Student</h1>


<form asp-action="Edit" method="post" asp-controller="LoadDB">
	Id: <input type="text" asp-for="@Model.Id" disabled/><br />
	Name: <input type="text" asp-for="@Model.Name" /><br />
	<!--
	Gender: <select asp-for="@Model.Gender">
		<option value=true>Male</option>
		<option value="false" selected>Female</option>
	</select><br />
	-->
	Gender Radio:<br />
	<input type="radio" value=true asp-for="@Model.Gender" />Male<br />
	<input type="radio" value=false asp-for="@Model.Gender" />Female<br />

	Department combobox:<br />
	<select asp-for="@Model.DepartId">
		@{
			foreach (PRN222_SP25_B5_SL1.Models_DB.Department item in ViewBag.dept)
			{
				<option value="@item.Id">@item.Name</option>
			}
		}
	</select><br />

	Dob: <input type="date" asp-for="@Model.Dob" /><br />
	GPA: <input type="text" asp-for="@Model.Gpa" /><br />
	<input type="submit" value="Edit" />
</form>
