@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    int idx = 1;
}
<table>
    @foreach(var s in ViewBag.st){
        <tr>
            <td id=@($"tbl_{idx}_id")>@s.Id</td>
            <td id=@($"tbl_{idx}_name")>@s.Name</td>
            <td id=@($"tbl_{idx}_dob")>@s.Dob</td>
            <td id=@($"tbl_{idx}_gender")>@s.Gender</td>
            <td id=@($"tbl_{idx}_depart_id")>@s.DepartId</td>
            <td id=@($"tbl_{idx}_gpa")>@s.Gpa</td>
        </tr>
        idx++;
    }
</table>